APP_URL=https://cliniq.lat
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
STRIPE_PRICE_ID=price_replace_me
TRIAL_DAYS=7
POSTGRES_USER=mediapp
POSTGRES_PASSWORD=changeme
POSTGRES_DB=mediapp
